@import 'variables/variables';
body,
html {
  margin: 0 auto;
  font-family: Rubik;
  color: #313131;
}

h1,
.h1 {
  font-weight: 900;
  font-size: $font-xlarge;
}

h2,
.h2 {
  font-weight: 900;
  font-size: $font-large;
}

h3,
.h3 {
  font-size: $font-md;
  font-weight: 700;
}

h4,
.h4 {
  font-size: $font-small;
  font-weight: 600;
}

p {
  font-size: $font-small;
}

li {
  font-size: $font-small;
}

.text-small {
  font-size: $font-small;
}

.font-bold {
  font-weight: 500;
}

.text-color-primary {
  color: $primary;
}

.mt-cus-7 {
  margin-top: 7rem;
}

.mt-cus-5 {
  margin-top: 5rem;
}

.mt-cus-4 {
  margin-top: 4rem;
}

.mt-cus-3 {
  margin-top: 3rem;
}

@import 'header/header';
@import 'icons/icons';
@import 'content/content';
